###
# system SWAP, TMP and BACKUP files
###
*~
*.swp
*.bak

###
# Windows
###
Thumbs.db

###
# Mac OS X directory preferences
###
.DS_Store
._*

###
# System
###
_gsdata_

###
# Sublime
###
sftp-config.json

###
#   SCSS Files
###
.sass-cache/
