@charset "UTF-8";
/* CSS Document */

/* -------------------------------------------------------------- 
   
   ie8.css
   Contains every hack for Internet Explorer 8.
   
-------------------------------------------------------------- */


/* Forms 
-------------------------------------------------------------- */

.v65-form textarea  							{ width: 218px; } /* -7 than normal*/
.v65-form select								{ width: 223px; } /* -2 than normal*/
.v65-form fieldset div.formatBeside textarea	{ width: 148px; } /* -7 than normal*/
.v65-form fieldset div.formatBeside select		{ width: 153px; } /* -2 than normal*/