@charset utf-8;

/* CSS Document */
/* ====================================================================================================                                                                

	Table of Content

	

	1. General

	2. Defaults - Copy into admin.css

	3. Header

	4. Navigation

	5. Content

	6. Blog Template

	7. Print Template

	8. Buttons

	9. Footer

   10. Vin65 Overrides

   

*/



/*   ===================================================================================================                                                                

     1. General

======================================================================================================== */

html,body {
	height:100%;
	width:100%;
	position:relative;
	margin:0;
	padding:0;
	}

/*   ===================================================================================================                                                                

     2. Defaults - Copy into admin.css

======================================================================================================== */

body {
background-color:#fff;
font-size:12px;
color:#444;
font-family:Arial, Helvetica, sans-serif;
line-height:1.5em;
}

/* CSS Reset */
img {
	border:0;
	}

h1,h2,h3,h4,h5,h6,p,table,ul,ol {
	margin-top:0;
	padding-top:0;
	}

ul,ol,dl,p,table,pre {
	margin-bottom:1em;
	}

h1,h2,h3,h4,h5,h6 {
	font-weight:400;
	color:#111;
	font-family:"Times New Roman", Times, serif;
	}

	h1 {
		font-size:2.5em;
		line-height:1em;
		margin-bottom:.5em;
		}
	
	/* 30pt  */
	h2 {
		font-size:2em;
		line-height:1em;
		margin-bottom:.5em;
		}
	
	/* 24pt */
	h3 {
		font-size:1.5em;
		line-height:1em;
		margin-bottom:.5em;
		}
	
	/* 18pt */
	h4 {
		font-size:1.167em;
		line-height:1em;
		}
	
	/* 14pt */
	h5 {
		font-size:1em;
		line-height:1em;
		font-weight:700;
		}
	
	h6 {
		font-size:1em;
		line-height:1em;
		}

a {
	color:#900;
	text-decoration:none;
	}

a:hover,a:focus,a:active {
	text-decoration:underline;
	}

ul,ol,dd,blockquote {
	}
	
ul ul,ol ol,ul ol,ol ul {
	margin-bottom:0;
	}

form {
	margin-bottom:1em;
	}

legend {
	color:#111;
	}

hr {
	color:#666;
	background-color:#666;
	height:1px;
	border:0;
	}

blockquote {
	font-size:1.5em;
	line-height:1.5em;
	font-family:"Times New Roman", Times, serif;
	}

/*-----------------------------------------------------------*/
.layClear {
	clear:both;
	font-size:0;
	height:1px;
	line-height:0;
	margin-top:-1px;
	}

/*   ===================================================================================================                                                                

     3. Header

======================================================================================================== */
/* Elements */

#container-header {
	margin:0 auto;
	overflow:visible;
	position:relative;
	background-color:#f3f3f3;
	}

	#container-menu {
		margin:0 auto;
		overflow:visible;
		position:relative;
		background-color:#fff;
		}
	
#header {
	position:relative;
	width:970px;
	height:195px;
	margin:0 auto;
	}

	#logo {
		height:146px;
		overflow:hidden;
		text-align:center;
		padding:40px 0 0;
		}
	
	#user-toolsWrapper {
		position:absolute;
		top:20px;
		right:0;
		z-index:1000;
		}
	
		#user-tools {
			width:300px;
			line-height:24px;
			height:24px;
			}

		#user-tools a {
			color:#111;
			}

/*   ===================================================================================================                                                                

     4. Navigation

======================================================================================================== */

#topMenu {
	width:970px;
	margin:0 auto;
	height:60px;
	font-size:1.3em;
	text-transform:uppercase;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	}
	
	#topMenu ul {
		float:left;
		left:50%;
		position:relative;
		list-style:none;
		margin:0;
		padding:0;
		}

		#topMenu ul li {
			position:relative;
			float:left;
			margin:0;
			padding:0;
			right:50%;
			}

			#topMenu ul li a {
				line-height:60px;
				height:60px;
				color:#777;
				position:relative;
				display:inline-block;
				text-decoration:none;
				margin:0;
				padding:0 40px;
				}

				#topMenu ul li a:hover {
					text-decoration:underline;
					}

				#topMenu ul li a.hover {
					text-decoration:underline;
					}

			#topMenu li ul {
				display:none;
				position:absolute;
				top:60px;
				left:0;
				width:180px;
				background-color:#749211;
				filter:alpha(opacity=90);
				-moz-opacity:0.90;
				opacity:0.90;
				}

			#topMenu li:hover ul,#layTopMenu li.over ul {
				display:block;
				background-color:#9bc315;
				}

				#topMenu li ul li {
					background-color:#efefef;
					display:block;
					width:180px;
					float:none;
					text-align:left;
					}

					#topMenu li ul li a {
						color:#666;
						background-color:#efefef;
						float:none;
						display:block;
						padding:0 0 0 10px;
						margin:0;
						width:170px;
						text-align:left;
						text-transform:none;
						border-bottom:1px solid #fff;
						line-height:24px;
						height:24px;
						}
	
					#topMenu li ul li a.v65-pageAParent {
						color:#000;
						}

					#topMenu li ul li a:hover {
						background-color:#333;
						color:#fff;
						}
					
					#topMenu li.v65-home {
						display:none;
						}

					/*display:none; if you want to hide the homepage link*/
					#topMenu li a.v65-pageAParent {
						color:#000;
						}

					#topMenu li a.v65-selected {
						color:#000;
						font-weight:700;
						}
						
#leftMenu {
	width:970px;
	margin:0 auto;
	height:40px;
	font-size:1.1em;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	border-bottom:1px solid #ccc;
	}

	#leftMenu ul {
		float:left;
		left:50%;
		position:relative;
		list-style:none;
		margin:0;
		padding:0;
		}

		#leftMenu ul li {
			position:relative;
			float:left;
			margin:0;
			padding:0;
			right:50%;
			}

			#leftMenu ul li a {
				line-height:40px;
				height:40px;
				color:#777;
				position:relative;
				display:inline-block;
				text-decoration:none;
				margin:0;
				padding:0 30px;
				}

			#leftMenu ul li a:hover {
				text-decoration:underline;
				}

		#leftMenu li ul {
			display:none;
			}

			#leftMenu li a.v65-pageAParent {
				color:#000;
				}

			#leftMenu li a.v65-leftSelected {
				color:#000;
				font-weight:700;
				}
						
						
/*   ===================================================================================================                                                                

     5. Content

======================================================================================================== */

body {
}

#container {
	position:relative;
	margin:0 auto;
	height:590px;
	background:url(../images/background-image.jpg) top center no-repeat #F3F3F3;
	}

#container-page {
	position:relative;
	margin:0 auto;
	background-color:#f1f1f1;
	}

#container-footer {
	position:relative;
	width:970px;
	margin:0 auto;
	}

#contentWrapper {
	width:970px;
	overflow:hidden;
	margin:0 auto;
	}

#homepageContent {
	float:left;
	margin:90px 0 0;
	padding:20px;
	width:320px;
	}
	
#featureImage {
	width:235px;
	margin:20px 0 0;
	float:left;
	}

#featureDescription {
	width:280px;
	margin:120px 0 0;
	padding:20px;
	float:right;
	background-color:#FFF;
	}

	
#pageContent {
	float:left;
	width:680px;
	padding:50px 130px 30px;
	}

#pageContentWide {
	width:930px;
	padding:50px 20px 30px;
	}
	
/*   ===================================================================================================                                                                

     6. Blog Template

======================================================================================================== */

#blogContent {
	float:left;
	width:580px;
	padding:20px 25px 0 0;
	overflow:hidden;
	}

	#blogRightWrapper {
		float:right;
		width:345px;
		padding:20px 0 0;
		overflow:hidden;
		}

		#blogRightWrapper-Col1 {
			float:left;
			width:160px;
			padding:0 25px 0 0;
			overflow:hidden;
			}

		#blogRightWrapper-Col2 {
			float:left;
			width:160px;
			padding:0;
			overflow:hidden;
			}

/*   ===================================================================================================                                                                

     7. Print Template

======================================================================================================== */

#printBody {
	background-image:none;
	background-color:#FFF;
	margin:0;
	padding:0;
	}

	#printWrapper {
		width:700px;
		margin:0 auto;
		}

		#printHeader {
			width:700px;
			height:150px;
			}
		
		#printContent {
			width:700px;
			text-align:left;
			}

/*   ===================================================================================================                                                                

     8. Buttons - This calls the button sprites from the local site 
            Use these styles to customize buttons if necessary

======================================================================================================== */

	/* OPTIONAL BUTTON STYLES regular button: */
	button.defaultBtn {
		background:transparent url(../images/buttons/btn_sprite.gif) no-repeat right -100px;
		}
	
	button.defaultBtn span {
		background:transparent url(../images/buttons/btn_sprite.gif) no-repeat left top;
		}
		
	/* OPTIONAL BUTTON STYLES alt button: */
	button.altBtn {
		background:transparent url(../images/buttons/btn_alt_sprite.gif) no-repeat right -100px;
		}
		
	button.altBtn span {
		background:transparent url(../images/buttons/btn_alt_sprite.gif) no-repeat left top;
		}
		
	/* OPTIONAL BUTTON STYLES modal button: */
	button.modalBtn {
		background:transparent url(../images/buttons/btn_modal_sprite.gif) no-repeat right -50px;
		}
	
	button.modalBtn span {
		background:transparent url(../images/buttons/btn_modal_sprite.gif) no-repeat left top;
		}
	
	/* OPTIONAL BUTTON STYLES modal alt button: */
	button.altModalBtn {
		background:transparent url(../images/buttons/btn_modal_alt_sprite.gif) no-repeat right -50px;
		}
	
	button.altModalBtn span {
		background:transparent url(../images/buttons/btn_modal_alt_sprite.gif) no-repeat left top;
		}
	
	/* OPTIONAL BUTTON STYLES large button: */
	button.largeBtn {
		background:transparent url(../images/buttons/btn_large_sprite.gif) no-repeat right -100px;
		}
	
	button.largeBtn span {
		background:transparent url(../images/buttons/btn_large_sprite.gif) no-repeat left top;
		}
	
	/* OPTIONAL BUTTON STYLES large button: */
	button.altLargeBtn {
		background:transparent url(../images/buttons/btn_large_alt_sprite.gif) no-repeat right -100px;
		}
	
	button.altLargeBtn span {
		background:transparent url(../images/buttons/btn_large_alt_sprite.gif) no-repeat left top;
		}
	
	/* REQUIRED LINK BUTTON STYLES: */
	/* Link Button Normal */
	a.linkBtn {
		background:transparent url(../images/buttons/btn_sprite.gif) no-repeat right -100px;
		}
	
	a.linkBtn span {
		background:transparent url(../images/buttons/btn_sprite.gif) no-repeat left top;
		}
	
	/* Link ALT Button Normal */
	a.linkAltBtn {
		background:transparent url(../images/buttons/btn_alt_sprite.gif) no-repeat right -100px;
		}
	
	a.linkAltBtn span {
		background:transparent url(../images/buttons/btn_alt_sprite.gif) no-repeat left top;
		}
	
	/* Modal Link Button Normal */
	a.modalLinkBtn {
		background:transparent url(../images/buttons/btn_modal_sprite.gif) no-repeat right -50px;
		}
	
	a.modalLinkBtn span {
		background:transparent url(../images/buttons/btn_modal_sprite.gif) no-repeat left top;
		}
	
	/* Modal Link ALT Button Normal */
	a.modalLinkAltBtn {
		background:transparent url(../images/buttons/btn_modal_alt_sprite.gif) no-repeat right -50px;
		}
	
	a.modalLinkAltBtn span {
		background:transparent url(../images/buttons/btn_modal_alt_sprite.gif) no-repeat left top;
		}
	
	/* Link Button Large */
	a.largeLinkBtn {
		background:transparent url(../images/buttons/btn_large_sprite.gif) no-repeat right -100px;
		}
	
	a.largeLinkBtn span {
		background:transparent url(../images/buttons/btn_large_sprite.gif) no-repeat left top;
		}
		
/*   ===================================================================================================                                                                

     9. Footer

======================================================================================================== */

#footer {
	width:970px;
	overflow:hidden;
	padding:1em 0;
	text-align:center;
	}

	#footer ul {
		list-style:none;
		margin:0;
		padding:0;
		overflow:hidden;
		}

		#footer ul li {
			display:inline;
			margin:0;
			padding:0;
			}
	
			#footer ul li a {
				font-size:.917em;
				color:#666;
				position:relative;
				display:inline-block;
				text-decoration:none;
				margin:0;
				padding-right:10px;
				}

				#footer ul li a:hover {
					color:#666;
					text-decoration:underline;
					}

		#footer ul li:after {
			content:"|";
			padding:0 8px 0 0;
			color:#666;
			}
	
		#footer ul li:last-child:after {
			content:"";
			}
	
	#footer p {
		clear:both;
		font-size:.917em;
		color:#999;
		}

	#footer a {
		color:#999;
		}
	
	#footer a:hover {
		color:#666;
		}

/*   ===================================================================================================                                                                

     10. V65 Overrides

======================================================================================================== */

/* -----Modal Cart----- */
a#v65-toggleModalCart {
	display:block;
	padding:0 0 0 24px;
	}

.v65-product2Up {
	width:310px;
	margin:0 40px 25px 0;
	}
	
.v65-promoGroupProductTeaser {
	border-bottom:1px solid #666;
	margin:0 0 10px;
	}

.v65-promoGroupProductTitle {
	font-style:italic;
	color:#111;
	font-size:2em;
	line-height:1em;
	font-family:"Times New Roman", Times, serif;
	margin-bottom:.5em;
	margin-top:.5em;
	}

.v65-promoGroupPrice {
	font-size:1.5em;
	font-family:"Times New Roman", Times, serif;
	float:left;
	width:140px;
	}

.v65-promoGroupAddToCart {
	float:right;
	width:100px;
	}